[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
    ignore = dirty
[submodule "zsh/.pure"]
	path = zsh/.pure
	url = https://github.com/sindresorhus/pure
    ignore = dirty
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
    ignore = dirty
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
    ignore = dirty
[submodule "vim/.vim/bundle/minibufexpl.vim"]
	path = vim/.vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
    ignore = dirty
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
    ignore = dirty
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
    ignore = dirty
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
    ignore = dirty
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
    ignore = dirty
[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
    ignore = dirty
[submodule "vim/.vim/bundle/rainbow"]
	path = vim/.vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
    ignore = dirty
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
    ignore = dirty
[submodule "vim/.vim/bundle/vim-multiple-cursors"]
	path = vim/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
    ignore = dirty
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
    ignore = dirty
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
    ignore = dirty
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale
    ignore = dirty
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
    ignore = dirty
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
    ignore = dirty
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
    ignore = dirty
[submodule "vim/.vim/bundle/ctrlp_bdelete.vim"]
	path = vim/.vim/bundle/ctrlp_bdelete.vim
	url = https://github.com/d11wtq/ctrlp_bdelete.vim
    ignore = dirty
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
    ignore = dirty
